@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots {
    bottom: 20px; /* Điều chỉnh vị trí theo ý muốn */
}

.slick-dots li button {
    display: block;
    width: 12px; /* Đặt kích thước dấu chấm */
    height: 12px; /* Đặt kích thước dấu chấm */
    border-radius: 50%; /* Tạo dáng tròn */
    background: white; /* Màu nền của dấu chấm */
    opacity: 0.5; /* Độ mờ của dấu chấm */
}

.slick-dots li.slick-active button {
    background: white; /* Màu nền của dấu chấm đang hoạt động */
    opacity: 1; /* Độ mờ của dấu chấm đang hoạt động */
}
/* index.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Ngăn chặn thanh cuộn ngang */
}

